@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 34 33% 96%;
  --foreground: 20 14% 4%;

  --card: 0 0% 100%;
  --card-foreground: 20 14% 4%;

  --popover: 0 0% 100%;
  --popover-foreground: 20 14% 4%;

  --primary: 0 72% 51%;
  --primary-foreground: 60 9.1% 97.8%;

  --secondary: 34 33% 96%;
  --secondary-foreground: 24 9.8% 10%;

  --muted: 34 33% 96%;
  --muted-foreground: 20 8.9% 46.1%;

  --accent: 34 33% 96%;
  --accent-foreground: 24 9.8% 10%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 60 9.1% 97.8%;

  --border: 20 5.9% 90%;
  --input: 20 5.9% 90%;
  --ring: 0 72% 51%;

  --radius: 0.75rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

